:root {
    --main-font-size: 1.2rem;
    --main-green: #148c35;
    --secondary-green: #23e859;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: var(--main-font-size);
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 500px;
}

.section-title, #quiz-question {
    font-size: 2rem;
}

.section-content {
    font-size: var(--main-font-size);
    width: 60%;
    margin: 2rem auto;
}

.btn {
    font-size: var(--main-font-size);
    background-color: var(--main-green);
    color: white;
}

.btn:hover {
    background-color: var(--secondary-green);
}

#start-btn {
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.hidden {
    display: none;
}

#view-score-page {
    color: purple;
    background-color: white;
    border: none;
    font-size: var(--main-font-size);
}

#view-score-page:hover {
    color: plum;
}

#quiz {
    width: 60%;
    margin: 0 auto;
}

.answers {
    width: 40%;
    margin: 1rem auto;
}

.answers div {
    border: solid 2px black;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
    background-color: var(--main-green);
    color: white;
}

.answer:hover {
    background-color: var(--secondary-green);
}

.answer .letter {
    margin: .3rem 0 .3rem 1rem;
}

.answer .answer-choice-text {
    margin: .3rem auto;
}

#answer-result {
    text-align: center;
    font-size: 2.5rem;
    margin-top: -2rem;
    width: 60%;
    margin: 0 auto;
}

.correct {
    color: var(--secondary-green);
    border-bottom: solid 3px var(--secondary-green);
}

.incorrect {
    color: red;
    border-bottom: solid 3px red;
}

.score-display {
    font-size: 2rem;
    width: 40%;
    margin: 0 auto;
    text-align: left;
}

.form {
    width: 100%;
    flex-direction: row;
    height: auto;
    margin-top: .5rem;
    justify-content: start;
}

#score-form input {
    margin-left: 0.5rem;
    padding-left: 0.3rem;
    border-radius: 8px 0 0 8px;
    border-right: none;
}

#save-btn {
    padding: 0 0.8rem;
    border-radius: 0 8px 8px 0;
    border: 2px black solid;
    border-left: none;
    margin-left: 0.1rem;
}

#high-scores-list {
    min-height: 3rem;
    width: 80%;
    margin: 1rem 0;
    background-color: lightgrey;
    list-style: none;
}

.hs-lst-btn {
    padding: .5rem;
    border: solid 2px black;
    text-decoration: none;
}

#back-btn {
    padding-top: 0.3rem;
}

.list-item {
    padding-left: .5rem;
    border-bottom: solid 2px  black;
}

@media screen and (max-width: 850px) {

    .container {
        width: 98%;
    }
    
    .section-title {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .section-content {
        width: 100%;
    }

    .quiz-questions {
        width: 98%;
    }

    .quiz-questions h2 {
        font-size: 1.5rem;
    }

    #quiz {
        width: 98%;
    }

    .answers {
        width: 80%;
    }

    #score-form label {
        text-align: left;
    }

    #score-form input {
        height: 2.5rem;
        border-right: solid;
        border-radius: 8px;
        margin: .5rem 0;
    }

    #save-btn {
        padding: .5rem 0;
        border-left: solid 2px black;
        border-radius: 8px;
    }

    .form {
        flex-direction: column;
    }

    #high-scores {
        text-align: center;
    }

    #high-score-display h2 {
        font-size: 2rem;
    }

    #high-scores-list {
        margin: 2rem auto;
    }
}